/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/app/favoritos/index.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.pg-favoritos .conteudo {
  width: 97vw;
  padding: 20px;
  margin-left: 3vw;
}
.pg-favoritos .conteudo h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.pg-favoritos .conteudo .mensagem-vazia {
  margin-top: 40px;
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
}
.pg-favoritos .conteudo .lista-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.pg-favoritos .conteudo .item-fav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pg-favoritos .conteudo .item-fav .btn-remover {
  margin-top: 10px;
  background: #c60000;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.pg-favoritos .conteudo .item-fav .btn-remover:hover {
  background: #ff0000;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/card/index.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-card-opcoes {
  position: relative;
}
.cp-card-opcoes .icone-favorito {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: transform 0.2s;
}
.cp-card-opcoes .icone-favorito:hover {
  transform: scale(1.12);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/header/index.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-header {
  display: flex;
  flex-direction: column;
  height: 90px;
  background-color: #000;
  justify-content: space-between;
  width: 100vw;
}
.cp-header .pt-cima {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px 15px 10px 15px;
}
.cp-header .pt-baixo {
  height: 30px;
  width: 100vw;
  background-color: #171717;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.cp-header .pt-baixo .org {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.cp-header .pt-baixo .org a {
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.cp-header .pt-baixo .org a:hover {
  color: #f8d90f;
}
.cp-header .pt-baixo .org .active {
  color: #F0A124;
  font-weight: 600;
}
