.pg-favoritos {
  .footer{
    margin-top: 55vh;
  }
  .conteudo {
    width: 97vw;
    padding: 20px;
    margin-left: 3vw;
    h2 {
      font-size: 25px;
      margin-bottom: 20px;
    }

    .mensagem-vazia {
      margin-top: 40px;
      font-size: 18px;
      opacity: 0.7;
      text-align: center;
    }

    .lista-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .item-fav {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn-remover {
        margin-top: 10px;
        background: #c60000;
        border: none;
        color: #fff;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background: #ff0000;
        }
      }
    }
  }
}
