.pg-ingressos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #0d0d0d; 
  color: #fff;
  align-items: center;

  h3 {
    font-size: 26px;
    margin: 20px 0 40px 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    
  }

  .menu {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
    margin-top: 5vh;

    .cartaz {
        margin-top: 3vh;
        border-radius: 12px;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
        object-fit: cover;
        transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.02);
      }
    }

    .horarios {
      flex: 1;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 15px;

      h4 {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 600;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 16px;
        line-height: 1.6;

        .detalhes {
          background: rgba(255, 255, 255, 0.05);
          padding: 20px;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.08);

          p {
            margin: 5px 0;

            strong {
              color: #ffcb05; 
            }
          }
        }

        .sinopse {
          background: rgba(255, 255, 255, 0.05);
          padding: 20px;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.08);

          p {
            text-align: justify;
            margin-top: 5px;
          }
        }
      }
    }
    .episodio{
        display: flex;
    }
  }

  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      gap: 30px;

      .cartaz {
        height: 450px;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
      }

      .horarios {
        h4 {
          text-align: center;
        }
      }
    }
  }
}
