.cp-card-opcoes {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  transition: transform 0.3s, box-shadow 0.3s;

  
  .img-container {
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.8s ease;
  }:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .icone-favorito {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.2s; 

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cp-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  > .cp-card-opcoes:nth-child(1) { animation-delay: 0.05s; }
  > .cp-card-opcoes:nth-child(2) { animation-delay: 0.1s; }
  > .cp-card-opcoes:nth-child(3) { animation-delay: 0.15s; }
  > .cp-card-opcoes:nth-child(4) { animation-delay: 0.2s; }
  > .cp-card-opcoes:nth-child(5) { animation-delay: 0.25s; }

}
