.cp-card-opcoes {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  flex: 0 0 auto;
  width: 200px;


  .poster {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: cover;
  }

  .img-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.8s ease;
    height: 100%;
    width: 100%;
    &:hover {
      transform: translateY(-5px) scale(1.02);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
  }

  .icone-favorito {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cp-cards-container {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;

  > .cp-card-opcoes:nth-child(1) { animation-delay: 0.05s; }
  > .cp-card-opcoes:nth-child(2) { animation-delay: 0.1s; }
  > .cp-card-opcoes:nth-child(3) { animation-delay: 0.15s; }
  > .cp-card-opcoes:nth-child(4) { animation-delay: 0.2s; }
  > .cp-card-opcoes:nth-child(5) { animation-delay: 0.25s; }
}

@media (max-width: 768){
  .cp-card-opcoes {
    width: 100px;
    justify-content: space-between;
    .img-container {
      height: auto;
    }

    .poster {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 768px) {
  .cp-card-opcoes {
    width: calc(50% - 10px);
  }
  
    .icone-favorito {
    width: 26px;
    height: 26px;
  }
  }

