.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #0d0d0d;
  color: #fff;
  animation: fadeIn 0.4s ease-in-out;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  animation: fadeText 1s forwards;
}

.signature {
  color: #323232;
  font-size: 18px;
  opacity: 0;
  animation: fadeText 1.5s forwards;
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeText {
  from { opacity: 0; transform: translateY(10px) }
  to { opacity: 1; transform: translateY(0) }
}
