:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans/KumbhSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Kumbh Sans", sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
#nprogress .bar {
  background: #ffcc00 !important;
  height: 4px !important;
  box-shadow: 0 0 10px #ffcc00;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ffcc00, 0 0 5px #ffcc00;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #232323;

  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
