.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;        
  inset: 0;
  background: #0d0d0d;
  color: #fff;
  z-index: 9999;
  opacity: 1;
  animation: fadeIn 0.4s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.signature {
  color: #323232;
  font-size: 18px;
  opacity: 0;
  animation: fadeText 1.5s forwards;
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

@keyframes fadeText {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
