.episodios-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25px;
  width: 90vw;
  .btn-temporada {
    width: 100%;
    padding: 12px 18px;
    background: #111;
    border: 1px solid rgba(255,255,255,0.15);
    color: #fff;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
  
    &:hover {
      background: #1a1a1a;
    }
  }
  
  .lista-episodios {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0 0 8px 8px;
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    list-style: none;
    margin-top: -10px;
  
    li {
      margin: 8px 0;
      font-size: 15px;
      padding: 10px;
      border: 1px solid rgb(68, 68, 68);
      border-radius: 5px;
    }
  }
  .ep-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.ep-summary {
  font-size: 0.9rem;
  opacity: 0.85;
  line-height: 1.35rem;
  margin-bottom: 12px;
}

}

