.cp-header {
  display: flex;
  flex-direction: column;
  height: 90px;
  background-color: #000;
  justify-content: space-between;
  width: 100vw;

  .pt-cima {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 15px 10px 15px;
  }

  .pt-baixo {
    height: 30px;
    width: 100vw;
    background-color: #171717;
    display: flex;
    align-items: center;
    
    .opt{
      width: 100px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .org {
      display: flex;
      justify-content: space-between;
      height: 30px;
      align-items: center;
      a {
        color: #fff;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: #ffffff;
          background-color: #F0A124;
          height: 100%;
              
        }
      }

      .active {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        background-color: #F0A124;        
        font-weight: 600;
      }
    }
  }
}
